<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>BlockChain Explorer</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/search.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" />
</head>

<body>

    <nav class="navbar navbar-dark bg-dark" aria-labelledby="mainnavheading">
        <!--Navbar -->
        <nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color" aria-labelledby="secondarynavheading">
            <a class="navbar-brand" href="user">Go Back to User Page</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333" aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <!--/.Navbar -->
    </nav>

    <br>

    <div class="container">
        <div class="row text-center text-white mb-5 py-4">
            <div class="col-lg-9 mx-auto">
                <h2 class="display-4 mx-auto" style= "color: black; font-weight: bold;">BLOCKCHAIN EXPLORER</h2>
            </div>
        </div>
        
        <div class="d-flex justify-content-center">
            <form th:action="@{/results}">
                <div class="searchbar">
                    <input class="search_input" type="text" name="keyword" id="keyword" th:value="${keyword}" placeholder="Search by Transaction Hash rate or Block Hash rate">
                    <button class="search_icon" type="submit"</button> <i class="fas fa-search"></i>
                </div>
            </form>
        </div>
    </div>
  
</body>

</html>