<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Broadcast</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
	<script type="text/javascript" th:src="@{/javascript/broadcast.js}"></script>
</head>

<body>
	<form class="form-broadcast" th:action="@{/broadcast}" method="post">
		<div class="container">
			<h1>Payment Options</h1>

			<br>

			<div class="form-group">
				<label for="sender">Sender</label> <input type="text" class="form-control"
					id="sender" name = "sender" aria-describedby="toAddressHelp">
				<small id="toAddressHelp" class="form-text text-muted"> Enter
					the name of the Sender, here! </small>
			</div>

			<div class="form-group">
				<label for="receiver">Receiver</label> <input type="text" class="form-control"
					id="receiver" name = "receiver" aria-describedby="toAddressHelp">
				<small id="toAddressHelp" class="form-text text-muted"> Enter
					the name of the Receiver, here! </small>
			</div>

			<div class="form-group">
				<label for="amount">Amount</label> <input type="number" class="form-control"
					id="amount" name = "amount" aria-describedby="amountHelp">
				<small id="amountHelp" class="form-text text-muted"> Enter
					Amount , here! </small>
			</div>

			<div class="form-group">
				<label for="hashid">Hash ID</label> <input type="text" class="form-control"
					id="hashid" name = "hashid" aria-describedby="hashid" required="required" />
				<input class="btn btn-small btn-primary" type="button" value="Generate HashId" onclick="mine()" /><br>
			</div>

			<button class="btn btn-lg btn-primary" type="submit">Sign and Create Transaction</button>

			<p>
				Go Back to <a href="/">Home Page</a>.
			</p>

		</div>
	</form>
</body>

</html>