<html lang="en-US" xmlns:th="http://www.thymeleaf.org"></html>
<head>
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
  <link
    href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    rel="stylesheet"
    id="bootstrap-css"
  />
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>

<div class="card-deck" style="max-width: 150rem">
  <div class="card border-danger mb-10" th:each="item : ${cardviewitems}">
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <p class="font-weight-bold">
          Block Chain #<span th:text="${item.id}"></span>
        </p>
        <p>
          Hash:
          <li
            class="list-group-item text-primary"
            th:text="${item.blockheader}"
          ></li>
        </p>
        <p>
          Hash of previous block:
          <li
            class="list-group-item text-success"
            th:text="${item.previousblock}"
          ></li>
        </p>
        <p>
          Nonce:
          <li class="list-group-item" th:text="${item.nonce}"></li>
        </p>
        <p>
          Timestamp:
          <li class="list-group-item" th:text="${item.timestamp}"></li>
        </p>
      </ul>
    </div>
  </div>
</div>
