<!DOCTYPE html>
<html lang="en-US">

<head>
<meta charset="UTF-8">
<title>createTransaction</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<div class="container">
	<h1>Payment Options</h1>

	<br>

	<div class="form-group">
		<label for="toAddress">Sender</label> <input type="text"
			class="form-control" id="toAddress" aria-describedby="toAddressHelp"> <small id="toAddressHelp"
			class="form-text text-muted"> Enter the name of the Sender,
			here! </small>
	</div>

	<div class="form-group">
		<label for="toAddress">Receiver</label> <input type="text"
			class="form-control" id="toAddress" aria-describedby="toAddressHelp"> <small id="toAddressHelp"
			class="form-text text-muted"> Enter the name of the Receiver,
			here! </small>
	</div>

	<div class="form-group">
		<label for="amount">Amount</label> <input type="number"
			class="form-control" id="amount" aria-describedby="amountHelp"> <small id="amountHelp"
			class="form-text text-muted"> Enter Amount , here! </small>
	</div>

	<div class="form-group md-form">
		<input type="date" id="inputMDEx" class="form-control">
			<small id="amountHelp"
			class="form-text text-muted"> Choose your date , here! </small>
	</div>
	<button (click)="createTransaction()" type="submit"
		class="btn btn-primary">Sign & create transaction</button>

</div>