<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <title>Signin</title>
  </head>
  <body class="text-center">
    <form class="form-signin" action ="/project/Login" method="post">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1><br>
      <label for="inputEmail" class="sr-only">Username</label>
      <input type="Username" name="inputUsername" class="form-control" placeholder="Username" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="inputPassword" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p align="center">Go Back to Home Page Here  <a href="home">Home Page</a>.</p>
      <p class="mt-5 mb-3 text-muted">&copy; Company 2020 BlockChain Education</p>
    </form>
  </body>
</html>