<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/register.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body style="background-color:LightYellow ;">

<div class="col-md-4 col-md-offset-4" id="register" >

    <section id="inner-wrapper" class="login">
        <article>
            <form th:action="@{/registeruser}">
                <div class="form-group" style="text-align: center;">
                    <h1 style="font-size: 20px;">Register Page</h1>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><em class="fa fa-user"> </i></span>
                        <input type="text" name="username" class="form-control" placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><em class="fa fa-key"> </i></span>
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><em class="fa fa-key"> </i></span>
                        <input type="password" name="passwordrep" class="form-control" placeholder="Confirm Password">
                    </div>
                </div>
                <button type="submit" class="btn btn-success btn-block" style="color: LightYellow ;">Submit</button>
            </form>
        </article>
        <p>Back to <a href="/">Home Page</a>.</p>
        <p class="mt-5 mb-3 text-muted">&copy; Company 2020 BlockChain Education</p>
    </section></div>

</body>
</html>