<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Sign Out<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                </li>
            </ul>
        </div>
    </nav>
    <main role="main">
        <div class="jumbotron">
            <div class="container">
                <br><br>
                <h1 class="display-4" style="color: rgb(20, 19, 20);">Welcome to BlockChain Education System!</h1>
                <br><br><br><br>
                

                <div class="row row-cols-1 row-cols-md-3">
                    <div class="col mb-4">
                            <div class="card h-100" style="width: 18rem;">
                        <div class="card-body text-white bg-dark mb-3">
                            <h5 class="card-title">Check Your Balance</h5>
                              <p class="card-text">Wallet contains the tokens you have inside your wallet.</p>
                              <a href="token" class="btn btn-primary">Go to your wallet!!</a>
                        </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                            <div class="card h-100" style="width: 18rem;">
                            <div class="card-body card text-white bg-secondary mb-3">
                                <h5 class="card-title">Broadcast a request</h5>
                                  <p class="card-text">Send tokens to any User.</p>
                                  <a href="broadcast" class="btn btn-primary">Send tokens!!</a>
                            </div>
                            </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card h-100" style="width: 18rem;">
                            <div class="card-body text-white bg-success mb-3">
                                <h5 class="card-title">Check transaction poll</h5>
                                  <p class="card-text">Check the pending transactions you have.</p>
                                  <a href="poll" class="btn btn-primary">Check Transaction!!</a>
                            </div>
                            </div>
                    </div>

                    <div class="col mb-4">
                        <div class="card h-100" style="width: 18rem;">
                            <div class="card-body text-white bg-danger mb-3">
                                <h5 class="card-title">Mining and Reward</h5>
                                  <p class="card-text">Start mining and get rewarded.<br><em> <strong>Note: Inorder to mine the user should have pending transactions</strong></em></p>
                                  <a href="mining" class="btn btn-primary">Start Mining!!</a>
                            </div>
                            </div>
                    </div>

                    <div class="col mb-4">
                        <div class="card h-100" style="width: 18rem;">
                        <div class="card-body text-white bg-info mb-3">
                            <h5 class="card-title">Go to Blockexplorer</h5>
                              <p class="card-text">Search the blockchains you have.</p>
                              <a href="search" class="btn btn-primary">Open up Explorer!!</a>
                        </div>
                        </div>
                    </div>

                    <!-- Empty skeleton to manage the cards -->
                    <div class="col mb-4">
                        <div class="card" style="width: 0rem;height: 0rem;">
                        <div class="card-body">   
                        </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </main>
    <footer class="container">
        <p>&copy; Company 2020 BlockChain Education</p>
    </footer>
</body>

</html>