<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Sign Out<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                </li>
            </ul>
        </div>
    </nav>
    <main role="main">
        <div class="jumbotron">
            <div class="container">
                <br><br>
                <h1 class="display-3" style="color: pink;">Welcome to BlockChain Education System!</h1>
                <br><br>
                <p><a class="btn btn-primary btn-lg" href="token" role="button">Check your balance &raquo;</a></p>
                <p><a class="btn btn-primary btn-lg" href="broadcast" role="button"> Broadcast a request &raquo;</a></p>
                <p><a class="btn btn-primary btn-lg" href="poll" role="button">Check transaction poll &raquo;</a></p>
                <p><a class="btn btn-primary btn-lg" href="mining" role="button">Mining and Reward &raquo;</a></p>
                <p><a class="btn btn-primary btn-lg" href="explorer" role="button">Block Explorer&raquo;</a></p>
            </div>
        </div>
    </main>
    <footer class="container">
        <p>&copy; Company 2020 BlockChain Education</p>
    </footer>
</body>

</html>