extends layout

block content
  .container
    h1 What is Blockchain
      p (Introduction)
      .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(src='https://www.youtube.com/embed/r43LhSUUGTQ')
      br
    h1 Milestone 1 of EDU Blockchain Mining
      p (Overview)
      .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(src='https://app.vidgrid.com/embed/xNkyvYMKyr7O/?sr=lJtTQZ')
      br
